.auth-container{
    display: flex;
    height: 80vh;
}
.auth-img{
    width: 100%;
    position: relative;
}
.auth-img img{
    width: 100%;
    opacity: 0.3;
    height: 100%;
}
.auth-form{
    width: 40%;
    display: flex;
    position: absolute;
    background-color: white;
    top: 30%;
    z-index: 1;
    right: 30%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.auth-form form {
    display: flex;
    text-align: center;
    flex-direction: column;
}
.auth-form input{
    margin: 5px;
    width: 300px;
}
.auth-form button{
    margin: 5px;
    width: 300px;
}
.auth-form a{
    cursor: pointer;
}