.welcome-page{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
}
.header-img{
    width: 50%;
}
.header-img img{
    width: 100%;
    height: 100%;
}
.header-content{
    width: 50%;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #212529;
}
.header-button{
    background-color: #232323;
    text-align: center;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
    border: 1px solid white;
}
.header-button:hover{
    background-color: white;
    color: #212529;
    border: 1px solid #212529;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-align: center;
}
.line{
    width: 80%;
    height: 10px;
    background-color: #212529;
}
.positive{
    display: flex;
}
.positive-img{
    width: 50%;
}
.positive-img img{
    width: 100%;
    height: 100%;
}
.positive-text{
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contact{
    display: flex;
    width: 100%;
}
.contact-information{
    width: 50%;
    padding: 20px;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
}
.contact-information a{
    margin: 10px;
}
.social{
    margin-left: 5px;
}
.contact-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
}
.contact-form input{
    width: 100%;
    margin-bottom: 5px;
}
.contact-form textarea{
    width: 100%;
    margin-bottom: 5px;
}

footer{
    width: 100%;
    background-color: #212529;
    display: flex;
    justify-items: center;
    align-items: center;
    color: white;
    flex-direction: column;
    padding: 30px;
}
.social-container{
    display: flex;
    margin-top: 20px;
}
.social-container a{
    margin-right: 10px;
    transition: 0.15s ease-in-out;
    margin: 0 1em;
    filter: grayscale(1);
}
.social-container a:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

@media screen and (max-width: 767px) {
    .positive-text{
        padding: 10px;
    }
}